.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileContainer img {
    display: absolute;
    border-radius: 25rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 5px;

}

.name {
    text-align: center;
    font-size: 2vw;
}

.title{
    text-align: center;
    font-size: 1.5vw;
}

.following{
    font-size: 1.25vw;
}

.followers{
    font-size: 1.25vw;
}