.repo {
    margin: 20px;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.20);
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    
}